In [1]:
#DataFrame
import pandas as pd
data={
    "Name":['Alice','Mahesh','Raju','Vinay'],
    "Age":[24,19,29,32],
    "Courses":['IT','Bcom','Law','Doctor']
}
df=pd.DataFrame(data)
print(df.to_string(index=False))

  Name  Age Courses
 Alice   24      IT
Mahesh   19    Bcom
  Raju   29     Law
 Vinay   32  Doctor

In [2]:

#extract Age Data
agesCol=df['Age']
print(agesCol)

0    24
1    19
2    29
3    32
Name: Age, dtype: int64

In [4]:
#Add Salary Column
df['Salary']=[1000,2000,3000,4000]
print(df)

     Name  Age Courses  Salary
0   Alice   24      IT    1000
1  Mahesh   19    Bcom    2000
2    Raju   29     Law    3000
3   Vinay   32  Doctor    4000

In [5]:
#mean of age
meanofAge=df['Age'].mean()
print(meanofAge)

26.0

In [6]:
#sort of Age in Desceding Order
sortAgeDesc=df.sort_values(by='Age',ascending=False)
print(sortAgeDesc)

     Name  Age Courses  Salary
3   Vinay   32  Doctor    4000
2    Raju   29     Law    3000
0   Alice   24      IT    1000
1  Mahesh   19    Bcom    2000

In [ ]:
#read data Form csv
dfCSV=pd.read_csv('data.csv')
print(dfCSV)

In [ ]:

#read data Form Excel
dfExcel=pd.read_excel('data.xlsx')
print(dfExcel)